.collapse .detalhes-lista{
  border: none;
  background: #fff;
}
.corpo-collapse{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn-acoes{
  display: flex;
  justify-content: flex-end;
}
  .btn-acoes button{
    margin-left: 1em;
  }
.btn-cadastrar{
    display: block;
    width: 15em;
    margin: 0 auto;
    margin-top: 2em;
}
.btn-cadastrar-equipamento{
  display: block;
  width: 18em;
  margin: 0 auto;
  margin-top: 2em;
}
.btn-coluna{
  width: 1em;
}
.btn-formulario{
  display: block;
  width: 20em;
  margin: 0 auto;
}
.disponivel{
  color: green;
}
.img-collapse{
  width: 20em;
  margin: 0 auto;
  margin-bottom: 1em;
}
.icon-filtro{
  margin-right: 1em;
  font-size: 1.2em;
}
.indisponivel{
  color: red;
}
.info-collapse{
  margin-bottom: 2em;
}
.input-filtro{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: .5em;
  width: 100%;
}
.form-max{
  width: 100%;
}
.form-metade{
  width: 100%;
}
.radio-filtro{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.secao-dashboard{
  display: flex;
  flex-direction: column;
}
.secao-filtro{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2em;
}
.solicitada{
  color: orange;
}
.recusada{
  color: red;
}
.titulo-collapse{
  text-align: center;
  margin-bottom: 2em;
}

@media (min-width: 768px){
  .corpo-collapse{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .img-collapse{
    width: 20em;
    margin: 0 0 2em 0;
  }
  .input-filtro{
    width: auto;
  }
  .form-max{
    width: 70%;
  }
  .form-metade{
    width: 46%;
  }
  .secao-filtro{
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 2em;
  }
  .radio-filtro{
    margin-left: 2em;
    justify-content: space-between;
    width: 18em;
  }
}
