.btn-acoes{
    display: flex;
    justify-content: space-between;
}
.btn-cadastrar{
    display: block;
    width: 15em;
    margin: 0 auto;
    margin-top: 2em;
}
.btns-cadastro{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-form{
    margin-top: 1em;
    width: 7em;
}
.form-config{
    max-width: 40em;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: .3em;
    margin: 0 auto 10em auto;
}
.form-horario{
    display: flex;
    justify-content: center;
}
  .form-horario input{
      max-width: 10em;
  }
.form-ddd{
    max-width: 5em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .form-ddd label{
    max-width: 100%;
    margin: 0 auto;
  }
.form-estado{
   display: flex;
   justify-content: center;
}
.form-select{
  max-width: 18em;
  margin: 0 auto;
  margin-bottom: 1em;
}
.form-sigla{
    max-width: 5em;
    margin-left: 1em;
}
.legend{
    text-align: center;
    font-size: 1.2em;
}
.table-horario{
    max-width: 20em;
    margin: 0 auto;
}
  .table-horario td:first-child{
      width: 15em;
      text-align: center;
  }
  .table-horario th{
      text-align: center;
  }
.table-responsive{
    max-height: 20em;
    overflow: auto;
}
.title-secao-h2{
    text-align: center;
    font-size: .8em;
}
.title-secao-h2 h2{
    font-size: 2em;
}
.title-secao-h3{
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
}


@media (min-width: 768px){
  .btn-acoes{
      justify-content: space-around;
  }
  .btns-cadastro{
      justify-content: space-around;
  }
  .btn-form{
      width: 10em;
  }
  .coluna-acoes{
      width: 8em;
      text-align: center;
  }
  .table-responsive{
      margin-bottom: 4em;
  }
  .title-secao-h2{
      text-align: center;
      font-size: 1em;
      margin-top: 3em;
      margin-bottom: 3em;
  }
  .title-secao-h2 h2{
      font-size: 2em;
  }
  .title-secao-h3{
      font-size: 1.3em;
      margin-bottom: 1em;
  }
}
