body{
    font-size: 1.2em;
}

.abre-menu, .logo-mroom{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .abre-menu p{
      text-transform: uppercase;
      font-weight: bold;
      margin-left: .4em;
      margin-bottom: 0;
  }
.barra-nav-mobile{
    position: fixed;
    top: 0;
    height: 100%;
    width: 70%;
    z-index: 2;
    max-width: 350px;
    background: #fff;
    box-shadow: 0em 0.01em 0.5em #3f4652;
    left: -80%;
    transition: left 0.5s ease-out;
}
.barra-cabecalho{
    display: flex;
    justify-content: space-around;
    background: #3B5E7F;
    width: 100%;
    height: 6em;
    box-shadow: 0em 0.03em 0.3em #666;
}
.barra-nav-desktop{
    display: none;
    position: relative;
}
.btn-abre-menu{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 2em;
    padding:.5em .8em;
    border: .125em solid #fff;
    border-radius: .5em;
}
.btn-adm{
    display: flex;
    justify-content: space-between;
}
.btns-cadastro{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-form{
    margin-top: 1em;
    width: 7em;
}
.cabecalho-menu-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3B5E7F;
    height: 6em;
    box-shadow: 0em 0.03em 0.3em #666;
    margin-bottom: 2em;
}
    .cabecalho-menu-mobile h1{
        width: 100%;
        text-align: center;
        margin-top: 1em;
        margin-left: 1em;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;;
    }
.fecha-menu, .abre-menu{
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    padding: 0;
}
    .fecha-menu span{
        color: #fff;
        margin-bottom: 1em;
        margin-right: 1em;
    }
.form-config{
    max-width: 40em;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: .3em;
    margin: 0 auto 10em auto;
}
.form-2-linha{
   display: flex;
   justify-content: center;
}
.form-2-linha-control{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.form-2-caracter{
    width: 100%;
}
.img-home{
    margin-top: 3em;
    margin-bottom: 3em;
    width: 20em;
}
.iten-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eee;
}
  .iten-desktop .glyphicon{
      font-size: 2em;
      margin-top: .5em;
      margin-bottom: .2em;
      transition: color 0.5s;
  }
  .iten-desktop:hover{
      color: #77BDFF;
  }
.invisivel{
    display: none;
}
.janela-login{
    margin-top: 5em;
}
.legend{
    text-align: center;
    font-size: 1.2em;
}
.logo-mroom img{
      height: 70%;
}
.main-body{
    padding-bottom: 15em;
}
.menu-ativo .barra-nav-mobile{
    left: 0;
}
.menu-ativo:after{
    content: "";
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}
.menu-principal-mobile{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
    .menu-principal-mobile a{
        font-size: 1.3em;
    }
    .menu-principal-mobile li{
        margin-bottom: 2em;
    }
.menu-principal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
        color: #fff;
    }
   .menu-principal li{
        display: inline-block;
        margin: 0em 3em 0em 0em;
    }
    .menu-principal p{
		    text-decoration: none;
        font-size: .8em;
        font-weight: bold;
        transition: color 0.5s;
    }
.reservas-solicitadas{
    max-width: 60em;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: .3em;
    margin: 0 auto 2em auto;
    font-size: .8em;
}
.title-secao-h1{
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}
.title-secao-h3{
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
}


@media (min-width: 768px){
  body{
      font-size: 1.6em;
  }
  .abre-menu, .barra-nav-mobile{
      display: none;
      width: 0;
  }
  .barra-cabecalho{
      justify-content: center;
  }
  .barra-nav-desktop{
      display: flex;
      align-items: center;
      margin-left: 8em;
  }
  .dropdown{
      margin-left: 6em;
  }
  #dropdown-nav{
      text-decoration: none;
      font-size: 1.2em;
      font-weight: bold;
      color: #fff;
      transition: color 0.5s;
  }
  #dropdown-nav:hover{
      color: #77BDFF;
  }
  .form-2-caracter{
      max-width: 7.5em;
      margin-left: 1em;
  }
  .linha-form{
    display: flex;
    justify-content: space-around;
  }
  .navbar-brand img{
      max-width: 6em;
      margin-left: 1em;
  }
  .title-secao-h1{
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 2.5em;
  }
  .title-secao-h3{
      font-size: 1.3em;
      margin-bottom: 1em;
  }
}
